* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 2.5%;
    max-width: 90%;
    background-color: RGB(193,192,192);
    color: RGB(44,45,43);
    overflow-x: hidden;
} 

header {
    background: RGB(148,44,60);
    color: RGB(236,236,236);
    max-width: 100%; 
    margin: auto; 
    padding: 2.5% 0;
    text-align: center;
} 


main {
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    padding: 2.5% 0;
    background: RGB(236,236,236);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-fig1, .about-fig5 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    flex: 1 1 100%;
}

.about-fig1 p, .about-fig5 p {
    margin-bottom: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: auto;
}

#fig1-chart object, #fig2-chart object, #fig3-chart object, #fig4-chart object, #chart-container object {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#fig1-chart, #fig5-chart {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    overflow: hidden;
}

#chart-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.about-fig2, .about-fig3, .about-fig4 {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    flex: 1 1 100%;
}

.about-fig2 p, .about-fig3 p, .about-fig4 p {
    width: 30%; 
    padding: 2%;  
    margin: 0;
    word-wrap: break-word;
}

#fig2-chart, #fig3-chart, #fig4-chart {
    display: block;
    width: 70%;
    height: auto;
    padding: 2.5%;
    overflow: hidden;
}


.contact-info {
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: 90%; 
    margin: auto;
    background: RGB(236,236,236);
    padding: 2.5%;;
}

.contact-info a {
    color: RGB(148,44,60);
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info p {
    color: RGB(148,44,60);
    margin: 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: RGB(236,236,236);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
