*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 5%;
    background-color: RGB(193,192,192);
    color: RGB(44,45,43);
}

.content-container {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 2.5%;
    background-color: RGB(236,236,236);
    color: RGB(44,45,43);
}


header {
    background: RGB(148,44,60);
    color: RGB(236,236,236);
    padding: 10px 0;
    text-align: center;
} 


.fig1, .fig2, .fig3, .fig4, .fig5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding: 2.5%;
    width: 100%;
    background: RGB(236,236,236);
}

.about-fig1 {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 2.5%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#fig1-chart {
    display: block;
    max-width: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    object-fit: contain;
    overflow-x: hidden;
}

.caption {
    padding-top: .5%;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.about-fig2, .about-fig3, .about-fig4, .about-fig5 {
    display: block;
    margin: 0 auto;
    padding: 2.5%;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.about-fig1 h1, .about-fig2 h1, .about-fig3 h1, .about-fig4 h1, .about-fig5 h1,  {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    margin: 0;
    padding: 0;
}

#fig2-chart, #fig3-chart, #fig4-chart{
    display: block;
    max-width: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    object-fit: contain;
    overflow-x: hidden;
}

#fig5-chart, #chart-container {
    width: 40vw;   
    height: 40vw;     
    max-width: 100%;
    max-height: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
}

#fig1-chart iframe, #fig2-chart iframe, #fig3-chart iframe, #fig4-chart iframe {
    min-width: 100%;  
    min-height: 100%; 
}

.fig2, .fig3, .fig4, .fig5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.about-fig1 p, .about-fig2 p, .about-fig3 p, .about-fig4 p, .about-fig5 p  {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 1.5%;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.left2 {
    max-width: 62%;
    min-height: 100%;
}

.right2 {
    max-width: 36%;
    min-height: 100%;
}

.left3 {
    max-width: 66%;
    min-height: 100%;
}

.right3 {
    max-width: 32%;
    min-height: 100%;
}

.left4-5, .right4-5 {
    max-width: 48%;
    min-height: 100%;
}


.contact-info {
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: 100%; 
    margin: auto;
    background: RGB(236,236,236);
    padding: 2.5%;
}

.contact-info a {
    color: RGB(148,44,60);
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info p {
    color: RGB(148,44,60);
    margin: 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: RGB(236,236,236);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    .fig1, .fig2, .fig3, .fig4, .fig5 {
        flex-direction: column; 
        align-items: center; 
    }

    .about-fig1, .about-fig2, .about-fig3, .about-fig4, .about-fig5 {
        flex-direction: column; 
    }
    
    .about-fig1 p, .about-fig2 p, .about-fig3 p, .about-fig4 p, .about-fig5 p {
        text-align: center; 
    }

    #fig1-chart, #fig5-chart, #chart-container, #fig2-chart, #fig3-chart, #fig4-chart {
        width: 100%;         
        height: auto;       
    }


    .contact-info {
        flex-direction: column;  
        align-items: center;    
        padding: 5%;
    }


    nav ul {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    nav ul li {
        margin: 10px 0; 
    }
}
